{
    "presets": [
      "@babel/preset-env",
      ["@babel/preset-typescript"]
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-react-jsx",
      "@vanilla-extract/babel-plugin",
      ["module-resolver",
      {
        "alias":{
          "@src":"./src"
        }
      }]
    ]
}