@import url(greedy_config.css);
.color-grid-button{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.397) 0%,rgba(0, 0, 255, 0) 50%); 
    transition: background-position 0.2s ease-out;
    background-size: 100% 200%;
    background-position: 0px 0%;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: var(--global-font-family);
    font-size: var(--global-font-size-medium);
    cursor: pointer;
}

.color-grid-button:hover{
    background-position: 0px 100%;
}

.color-grid-button:active {
    background-position: 0px 0%;
}

.color-grid-button:focus {
    outline:0;
}

.value-name{
  margin-left: 10px;
}
/* The container */
.checkbox-container {
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox-container span {
    display: block;
    height: 18px;
    width: 18px;
    background-color: var(--global-primary-color-b);
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ span {
    background-color: var(--global-primary-color-c);
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ span {
    background-color: var(--global-primary-color-d);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox-container span:after {
    content: "";
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ span:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container span:after {
    position: relative;
    left:50%;
    top:40%;
    width: 24%;
    height: 50%;
    translate: -50% -50%;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: left;
  }
  .checkbox-container div{
      font-size: var(--global-font-size-medium);
    font-family: var(--global-font-family);
      padding-left: 5px;
  }

.numberinput::-webkit-outer-spin-button,
.numberinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.numberinput-container {
    font-family:var(--global-font-family) ;
    font-size: var(--global-font-size-medium);
    text-align: left;
}

.numberinput-input{
    -moz-appearance: textfield;
    border:none;
    outline: none;
    background-color: var(--global-primary-color-b);;
    width: 60px;
    height: 1.5em;
    padding-left: 5px;
    transition: background-color 0.1s;
    margin-left: 10px;
}

.numberinput-input:hover{
    background-color: var(--global-primary-color-bc);
}
.numberinput-input:focus{
    background-color: var(--global-primary-color-b);
}

.value-component{
  font-size: var(--global-font-size-medium);
  font-family: var(--global-font-family);
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
}
.color-btn{
  width: 20px !important;
  height: 20px !important;
  border: black solid 2px ;
  cursor: pointer !important;
}


.clr-field{
  margin-left: 10px;
}

.clr-field button{
  position: relative;
  width: 100% !important;
  height: 100%;
}

.clr-field input{
  outline: none;
  border: none;
}

