@import url(greedy.css);
body {
    margin: 0;
    padding: 0;
 }
#root{
    width: 1920px;
    height:1080px;
    background-color: white;
    overflow: hidden;
}

#menu{
    background-color: var(--global-primary-color-deep);
    box-shadow: 1px 10px 10px 4px #fcedebda;
}

#filebtn{
    width: 100%;
    height: 100%;
}

#title{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top:9px
}

#html_editor{
    background-color: var(--global-primary-color-deep);
    width: 100%;
    height: 100%;
}


.property_value_container{
    
}

.value_name{

}
